/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	}



body {
	font-size: 12px;
	line-height:14px;
	color:#000;
    background-color: #fff;
    margin: 0 auto;
	overflow:scroll;
    }

*::-moz-selection {
	background-color:#000000;
	background-position:initial initial;
	background-repeat:initial initial;
	color:#ffffff;
	}

::selection {
	background-color:#000000;
	background-position:initial initial;
	background-repeat:initial initial;
	color:#ffffff;
	}

a {
	text-decoration:none;
	color:#000;
	-webkit-transition:color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
    }

a:hover {
        color:#ff282a;
    }

p {
	text-align:left;
	}
	
span {
	text-align:left;
	}	

h1 { 
	font-family: 'Brandon-Grotesque';
	font-weight:normal;
	font-size:7em;
	text-transform:uppercase; 
	text-align:center;
	line-height:0.9em;
	}  

h2 { 
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-align:center;
	padding:10px 95px 0 95px;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:2em;
	max-width:750px;
	margin:0 auto;
	font-weight:normal;
} 

h3 { 
	font-family: 'Brandon-Grotesque';
	font-weight:normal;
	font-size:4em;
	text-transform:uppercase;
	text-align:left;
	line-height:0.9em;
	padding:50px 0 20px 0;
	} 


/* ---------------------------------------------------------------------- CONTAINER ---------------------------------------------------------------------- */

.main {
    margin: 0 auto;
    }



/* ------------------------------------------------------------------------ HEADER ------------------------------------------------------------------------ */

header {
    height: 120px;
	margin:0px auto 55px auto;
	border-bottom:solid 1px #ababab;
	background-color: #fff;
	position:relative;
	}

.name {
    font-family: 'DIN-LightRegular';
    font-size: 1.1em;
    text-align: left;
    text-transform: uppercase;
	position:absolute;
	left:3%;
	top:40%;
	display:inline-block;
	}

.logo {
	margin:20px auto;
	width:80px;
	}
	

ul.navigation {
    font-family: 'DIN-LightRegular';
    font-size: 1.1em;
    text-align: right;
    text-transform: uppercase;
	display:inline-block;
	position:absolute;
	right:3%;
	top:40%;
	z-index:1000;
	}
	
ul.navigation li {
	height: 50px;
    display: inline;
	}	

ul.navigation li a {
	margin:0 5px 0 15px;
	}

ul.navigation li a:hover {
    color:#ff282a;
    }



/* ------------------------------------------------------------------------ FOOTER ------------------------------------------------------------------------ */

footer {
	font-family: 'Didot-italic';
	font-size:1em;
    height:40px;
	margin:70px auto 65px auto;
	border-top:solid 1px #ababab;
	padding-top:40px;
	position:relative;
	text-align:center;
    }


	
.follow {
	margin:0 auto 20px auto;
	}		
	
	
.scrollToTop{
	position:fixed;
	right:15px;
	bottom:15px;
    cursor:pointer;
    width:50px;
    height:50px;
	z-index:100;
	}
	
	

/* ----------------------------------------------------------------------- HOMEPAGE ----------------------------------------------------------------------- */

/*  ------------------------------------------ Animation text ------------------------------------------ */

.rw-wrapper{
	position: relative;
	}
	
.rw-sentence{
	text-align: center;
	}
	
.rw-sentence span{
	color: #000;
	}
	

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; }
	3% { opacity: 1; }
	13% { opacity: 1; }
	15% { opacity: 0;}
	20% { opacity: 0; }
	80% { opacity: 0; }
    100% { opacity: 0; }
	}

@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; }
	3% { opacity: 1; }
	13% { opacity: 1; }
	15% { opacity: 0;}
	20% { opacity: 0; }
	80% { opacity: 0; }
    100% { opacity: 0; }
	}

@-o-keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; }
	3% { opacity: 1; }
	13% { opacity: 1; }
	15% { opacity: 0;}
	20% { opacity: 0; }
	80% { opacity: 0; }
    100% { opacity: 0; }
	}

@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; }
	3% { opacity: 1; }
	13% { opacity: 1; }
	15% { opacity: 0;}
	20% { opacity: 0; }
	80% { opacity: 0; }
    100% { opacity: 0; }
	}

@keyframes rotateWord {
    0% { opacity: 0; }
    1% { opacity: 0; }
	3% { opacity: 1; }
	13% { opacity: 1; }
	15% { opacity: 0;}
	20% { opacity: 0; }
	80% { opacity: 0; }
    100% { opacity: 0; }
	}


/*  ------------------------------------------ Filters ------------------------------------------ */

ul.filteroptions { 
	height: 65px;
	text-align:center;	
	margin-top:30px;
    }

ul.filteroptions li { 
    height: 50px;
    display: inline;
    }

ul.filteroptions li a {
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	color: #000;
	line-height: 40px;
	text-decoration: none;
	margin:0 7px 0 7px;
	padding:10px 0;
	}

ul.filteroptions li a:hover {
    color:#ff282a;
    }

ul.filteroptions li a.active { 
	border-top:1px solid #999;
	}



/*  ------------------------------------------ Vignettes ------------------------------------------ */

#content {
	margin: 0 auto;
	}

.box {
	margin:10px 10px;
	}

.vignette {
	width:265px;
	height:176px;
	}
	
.vignette2 {
	width:265px;
	height:265px;
	}	

.vignette3 {
	width:265px;
	height:353px;
	}	

.box .info {
	background: no-repeat rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    left: 0;    
	top: 0;
    position: absolute;    
	height:100%;
	width:100%;
	text-align:center;
	}

	
.box:hover .info {
	opacity: 1;
	}
	
	
.box .text {   
	font-family: 'Didot';
	color: #fff;
	padding: 50px 0;
	text-align:center;
	float:left;
	border:none;
	}


.box .title {
	font-family: 'Brandon-Grotesque';
	text-rendering: optimizeLegibility;
	color: #fff;
	text-transform:uppercase;
	font-size:3em;
	line-height:1em;
	letter-spacing:0px;
	}

	
.box .type {
	font-family: 'Didot-italic';
	padding-top:10px;
	color: #ababab;
    font-size:1.1em;
    letter-spacing:0px;
	text-transform:none;
	}	
	

/*  ------------------------------------------ Filters Isotopes ------------------------------------------ */

.isotope-item {
	z-index: 2;
	}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
	}

.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
	}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
	}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
	}



/* ------------------------------------------------------------------ PAGES INTERIEURES ------------------------------------------------------------------ */
		
.links-plan {
	width:auto;
	height:50px;
	text-align:center;
	margin-top:30px;
	background-color:#ffffff;
	}
	
a.link {
	font-family: 'Didot-italic';
	font-weight:normal;
	font-size:1em;
	color:#000;
	margin: 0 10px;
	position:relative;
	z-index:24;
	color:#000;
	text-decoration:none
	}
 
a.link:hover{
	z-index:25;
	}
 
a.link span{
	display: none
	}
 
a.link:hover span{
	display:block;
	position:absolute;
	bottom:35px; left:-40px; width:130px;
	color:#000;
	text-align: center;
	font-weight:none;
	}
	
a.visit {
	font-family: 'DIN-LightRegular';
	font-weight:normal;
	font-size:1em;
	color:#000;
	text-decoration:none;
	}
 
a.visit:hover{
        color:#ff282a;
			}	
	
.images-plan {
	width:100%;
	max-width:1140px;
	}
	
.images-about {
	width:100%;
	max-width:1140px;
		}	
	
.about-txt{
	margin:0;
	padding:20px 0 0;
	line-height:2em;
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	}	

.paragraph-about {
	height:auto;
	border-bottom:solid 1px #ababab;
	padding-bottom:50px;
	}
	
.paragraph-about2 {
	height:auto;
	padding-bottom:0px;
	}	


.sub-header {
	margin:0;
	padding:0;
	line-height:1em;
	font-family: 'DIN-LightRegular';
	font-size:1.5em;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	text-align:left;
	}	


	
/*  ------------------------------------------ Slider ------------------------------------------ */


.slider-wrapper {
	position:relative;
    width:1080px;
    height:780px;  
	margin:20px auto; 
	background:url(../images/loading.gif) no-repeat 50% 50%;
	text-align:center;
	}
	
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	}

.nivoSlider a {
    border:0;
    display:block;
	}	
	
.nivo-controlNav {
    position:absolute;
	left:50%;
	top:80%;
	margin-left:-35px; 
	}

.nivo-controlNav a {
    display:block;
    width:10px;
    height:10px;
	cursor:pointer;
    background:url(../images/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:10px;
    float:left;
	z-index:100;
	position:relative;
	}

.nivo-controlNav a.active {
    background-position: 0 -10px;
	font-weight:bold;
	}

.nivo-directionNav a {
	position:absolute;
	top:45%;
	width:40px;
	height:40px;
	text-indent:-9999px;
	z-index:9;
	cursor:pointer;
	}

.nivo-prevNav {
	left:25px;
	background:url(../images/arrows.png) no-repeat;
	}

.nivo-nextNav {
	right:35px;
	background:url(../images/arrows.png) no-repeat;
	background-position:-30px 0;
	}
	
	
	
/*  ------------------------------------------ Formulaire ------------------------------------------ */
	
.blocks p {
	position:relative;
	}	
	

.btn {
	height:50px;
	width:100%;
	max-width:1140px;
	margin:40px 0 0 0;
	background-color:#000;
	color:#fff;
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:20px;
	font-weight:normal;
	border:none;
	cursor:pointer;
	-webkit-transition:background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
	}


.btn:hover {
	background-color:#fff;
	color:#000;
	}
 
.text,
.textarea {
	height:30px;
	border:1px solid #ddd;
	color:#333;
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:20px;
	font-weight:normal;
	z-index:2;
	width:100%;
	max-width:1120px;
	padding:5px 10px;
	}

 
.textarea {
	height:150px;
	max-height:150px;
	width:100%;
	max-width:1120px;
	}
 
.blocks label {
	float:left;
	text-align:left;
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:20px;
	font-weight:normal;
	padding-top:15px;
}
 
.blocks label.error,
.blocks label.ok {
	position:absolute;
	z-index:2;
	top:37px;
	right:0;
	padding:10px;
	width:300px;
	text-align:right;
	margin:0;
	background-repeat:no-repeat;	
}
 
.blocks label.ok {
	color:#000;
	z-index:2;

	}
 
.blocks label.error {
	color:#ff282a;
	z-index:2;	
	background-position:188px 16px;

}
 
.area label.ok,
.area label.error {
	z-index:2;
	background-position:1px 16px;
}

.requiredNote { margin: 20px 0px 20px; color: #333; font-weight: bold;}

.success { 
	font-family: 'DIN-LightRegular';
	font-size:1em;
	padding: 10px;
	background: #000000;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:20px;
	font-weight:normal;
	z-index:1000;
	color: #fff;
	width:100%;
	height:100%;
	margin-top:20px;
	}
	
.success p { margin: 0px;}



/* ------------------------------------------------------------------ RESPONSIVE DESIGN ------------------------------------------------------------------ */

/*  ------------------------------------------ Mobile device ------------------------------------------ */

@media screen and (max-width: 479px) {

.main {	
	width:96%;
	}

header {
	width:100%;	
	border-bottom:0;
	margin:0px auto 25px auto;
	height:140px;
	}
	
.rw-wrapper { 
	display:none;
	}
	
.name {
	display:none;
	}
		
ul.navigation {
	width:100%;
    text-align: center;
	margin:65px 0;
	}
		
.logo {
	width:100%;
	text-align:center;
	margin:20px 0;
	}	
		
footer {
	width:100%;	
	max-width:90%;
	border-top:0;
	margin:10px auto 25px auto;
	}
		
ul.filteroptions { 
	display:none;
    }

.box{
	width:100%;
	margin: 0 0 10px 0;
	text-align:center;
	}

.vignette {
	width:360px;
	height:240px;
	}
	
.vignette2 {
	width:360px;
	height:360px;
	}	

.vignette3 {
	width:360px;
	height:480px;
	}	

.box .info {
display:none;
	}


h1 {
	font-size:3em;
    line-height: 1em;
    padding-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
	}
	
h2 { 
	display:none;	
	} 

h3 { 
	font-size:3em;
	padding:15px 0 0 0;
	} 

a.link:hover span {
	display:block;
	position:absolute;
	bottom:25px; left:-40px; width:130px;
	color:#000;
	text-align: center;
	font-weight:none;
	}
	
.links-plan {
	margin-top:15px;
	}	

a.link:hover span{
	display:none;
	}

.slider-wrapper {
display:none;
	}
	
.images-about {
	width:100%;
	}

.images-plan {
	margin:5px auto;
	}	

.blocks label {
	margin:0 25px;
}
	
.textarea {
	height:150px;
	max-width:92%;
	max-height:150px;
	margin:0;
}

.text{
	height:30px;
	max-width:92%;
	margin:0;
	}

 	
.btn {
	max-width:98%;
	margin:10px 0;
	}	
	

	
.blocks label.error,
.blocks label.ok {
	right:7%;
	padding:10px;
	font-size:0.9em;
	line-height:1.2em;
	 
	/* Reseting previous label values */
	width:120px;
	text-align:right;
	margin:0;
	background-repeat:no-repeat;	
}
 	
	
	
.scrollToTop{
	position:fixed;
	right:0px;
	bottom:0px;
    cursor:pointer;
    width:30px;
    height:30px;
	}

.img-scroll{
    width:30px;
    height:30px;
	}	

.about-txt{
	margin:0;
	padding:0 10px;
	line-height:2em;
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	}	

.paragraph-about {
	height:auto;
	border-bottom:solid 1px #ababab;
	padding:15px;
	}
	
.paragraph-about2 {
	height:auto;
	padding:15px;
	}	



}



/*  ------------------------------------------ Tablette device ------------------------------------------ */

@media screen and (min-width: 480px) and (max-width: 767px) {
		
.main {
		max-width:700px;
		text-align:center;
	}

h1 { 
	font-size:5em;
	} 
		
h2 { 
	padding:10px 25px 0 25px;
	} 
	
h3 { 
	font-size:3em;
	padding:15px 0 0 0;
	} 	

ul.navigation {
	right:6%;
	z-index:1000;
	}

	
.links-plan {
	margin-top:15px;
	}	
	
header {
	max-width:95%;
	margin:0px auto 35px auto;
	}
.images-plan {
	margin:5px auto;
	}	
	
.vignette {
	width:265px;
	height:176px;
	}
	
.vignette2 {
	width:265px;
	height:265px;
	}	

.vignette3 {
	width:265px;
	height:353px;
	}			
		
	
.rw-sentence { 
	font-size: 5em;
	padding:15px;
	}
	
footer {
	width:100%;	
	max-width:95%;
	}	
	

.images-about {
	width:95%;
	}
	
	
.about-titre{
	text-align:center;
	padding:0;
	}	
	
.about-txt{
	text-align:center;
	width:95%;
	margin:0 auto 20px auto;
	line-height:2em;
	}	
	
.blocks label {
	margin:0 15px;
}
	
	
.textarea {
	height:150px;
	max-width:97%;
	max-height:150px;
	margin:0;
}

.text{
	height:30px;
	width:97%;
	margin:0;
	}

 	
.btn {
	width:98%;
	margin:20px 0;
	}	

.blocks label.error,
.blocks label.ok {
	position:absolute;
	z-index:2;
	top:37px;
	right:4%;
	padding:10px;
}	
	
.scrollToTop{
	position:fixed;
	right:0px;
	bottom:0px;
    cursor:pointer;
    width:30px;
    height:30px;
	}

.img-scroll{
    width:30px;
    height:30px;
	}
	
.about-txt{
	margin:0;
	padding:0 10px;
	line-height:2em;
	font-family: 'DIN-LightRegular';
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	}	

.paragraph-about {
	height:auto;
	border-bottom:solid 1px #ababab;
	padding:15px;
	}
	
.paragraph-about2 {
	height:auto;
	padding:15px;
	}	

	
}


/*  ------------------------------------------ Laptop device ------------------------------------------ */

@media screen and (min-width: 768px) and (max-width: 1023px) {
		
.main {
	max-width:96%;
	text-align:center;
	}
		
h2 { 
	padding:10px 25px 0 25px;
	} 
	
h3 { 
	font-size:4em;
	padding:20px 0 0 0;
	} 		
	
ul.navigation {
	right:6%;
	z-index:1000;
	}	
	
.links-plan {
	margin-top:15px;
	}	
	
header {
	max-width:97%;
	margin:0px auto 35px auto;
	}
	
.rw-sentence { 
	font-size: 6em;
	padding:10px;
	}
	
footer {
	width:100%;	
	max-width:97%;
	}	
	
.vignette {
	width:300px;
	height:200px;
	}
	
.vignette2 {
	width:300px;
	height:300px;
	}	

.vignette3 {
	width:300px;
	height:400px;
	}	
	

.scrollToTop{
	position:fixed;
	right:0px;
	bottom:0px;
    cursor:pointer;
    width:30px;
    height:30px;
	}

.img-scroll{
    width:30px;
    height:30px;
	}

.images-plan {
	margin:5px auto;
	width:95%;
	text-align:center;
	}
	
.images-about {
	width:97%;
	}
	
.about-txt{
	width:95%;
	margin:0;
	line-height:2em;
	}	
	
.blocks label {
	margin:0;
}
	
.textarea {
	height:150px;
	max-width:97%;
	max-height:150px;
	margin:0;
}

.text{
	height:30px;
	width:97%;
	margin:0;
	}

 	
.btn {
	width:98%;
	margin:20px 0;
	}	

.blocks label.error,
.blocks label.ok {
	position:absolute;
	z-index:2;
	top:37px;
	right:4%;
	padding:10px;
}


.paragraph-about {
	height:auto;
	border-bottom:solid 1px #ababab;
	padding:15px;
	}
	
.paragraph-about2 {
	height:auto;
	padding:15px;
	}	

	
	
}


/*  ------------------------------------------ Desktop device ------------------------------------------ */

@media screen and (min-width: 1024px) and (max-width: 1200px) {

.main {
	max-width:90%;
	text-align:center;
	}

header {
	max-width:1140px;
	}
	
ul.navigation {
	right:5%;
	z-index:1000;
	}
	
.vignette {
	width:265px;
	height:176px;
	}
	
.vignette2 {
	width:265px;
	height:265px;
	}	

.vignette3 {
	width:265px;
	height:353px;
	}	
		
.images-plan {
	margin:10px auto;
	}	
	
header {
	max-width:1140px;
	}
	
.paragraph-about {
	height:auto;
	border-bottom:solid 1px #ababab;
	padding:15px;
	}
	
.paragraph-about2 {
	height:auto;
	padding:15px;
	}	

	
h3 { 
	font-family: 'Brandon-Grotesque';
	font-weight:normal;
	font-size:4em;
	text-transform:uppercase; 
	text-align:left;
	line-height:0.9em;
	padding:30px 0 20px 0;
	} 	
		
}

/*  ------------------------------------------ Desktop device ------------------------------------------ */

@media screen and (min-width: 1201px) {

.main {
	max-width:1140px;
	text-align:center;
	}

header {
	max-width:1140px;
	}
	
.vignette {
	width:265px;
	height:176px;
	}
	
.vignette2 {
	width:265px;
	height:265px;
	}	

.vignette3 {
	width:265px;
	height:353px;
	}	
		
.images-plan {
	margin:10px auto;
	}	
	
footer {
	max-width:1140px;
	}	
}
